.p_about{
    font-family: "Inter", Sans-serif !important;
width: 100%;
font-weight: 400 !important;
letter-spacing: 0.8px !important;
word-spacing: 4px !important;
line-height: 1.5;
text-align: justify;

}