.bg_img{
    background: url(../../../../public/images/invetors/inv-slide.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% !important;
    object-fit: cover;
    background-clip: content-box;
    position: relative;
    /* height: 75vh !important; */

}
.bg_show{
    background: url(../../../../public/images/invetors/bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% !important;
    object-fit: cover;
    background-clip: content-box;
    position: relative;
    height: 100vh !important;
}
.bg_img::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    /* z-index:5; */
    height: 100%;
    width: 100%;
 background: linear-gradient(to top,#171718,#100f0f82); 
}
.about_text{
    font-family: 'Cormorant Garamond', serif;
   

  }
  .p_inv{
    /* font-family: "Inter", Sans-serif !important;
    width: 100%;
    font-weight: 400 !important;
    letter-spacing: 0.8px !important;
    word-spacing: 6px !important;*/
    line-height: 1.5;
    text-align: justify; 
    font-weight: 400;
    letter-spacing: 0.8px !important;
  }
