.Cont_sec{
    width: 24rem;
    height:35vh ;
}

@media (max-width: 768px) {
    .Cont_sec{
        width: 100%;
        height:35vh ;
    }
}
@media (max-width: 640px) {
    .Cont_sec{
        width: 100%;
        height:30vh ;
        
    }
}
@media (max-width: 550px) {
    .Cont_sec{
   
        width: 100%;
        height:30vh ;

    }
}