.Menu_bg_img{
    background: url(../../../../public/images/menu/bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% !important;
    object-fit: cover;
    background-clip: content-box;
    position: relative;
    /* height: 75vh !important; */

}
.bg_show{
    background: url(../../../../public/images/menu/bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% !important;
    object-fit: cover;
    background-clip: content-box;
    position: relative;
    height: 100vh !important;
}
.Menu_bg_img::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    /* z-index:5; */
    height: 100%;
    width: 100%;
 background: linear-gradient(to top,#171718,#100f0f82); 
}


.Menu-p {
    font-family: "Inter", Sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 0.9px !important;
    line-height: 1.8;  
}
.Animated-p{
    transition: all 1.9s ease-in;
    text-align: justify;
    animation: fadein linear forwards;
    /* animation-timeline: view(500px 100px); */
    animation-timeline: view();
    animation-range: entry-crossing;
    animation-delay:3.9s ;
}

@keyframes fadein {
    from {
      transform: translatey(100%);
      opacity: 0;
    }
    to {
      transform: translatey(0);
      opacity: 1;
    }
  }
  
.DiscoverMenu__HEADER{
    font-family: 'Cormorant Garamond', serif;
    line-height: 48px;
    font-size: 34px;
    font-weight: 600;
}